# Pandas Assignment

# Instructions for Pandas Assignment
---
Welcome to the Pandas Assignment! In this exercise, you will work with the CO2_Emissions_Canada2 dataset for Assignment your data manipulation and analysis skills using Pandas. Please follow the instructions below carefully:

1. **Understand the Dataset**: The dataset used in this assignment is related to the CO2_Emissions_Canada2. Familiarize yourself with the dataset's structure and content before starting.

2. **Read Each Question Thoroughly**: Each question in this assignment is designed to test different Pandas functionalities. Make sure you understand the requirements of each question before you begin coding.

3. **Write Your Code in the Provided Cells**: For each question, a code cell is provided where you should write your solution. Do not modify any other cells or sections of the notebook.

4. **Execute Your Code**: After writing your code in each cell, run the cell to check if your code produces the expected results. Verify that the output matches the requirements specified in the question.

5. **Complete All Questions**: Ensure that you attempt and complete all the questions provided in the notebook. Each question is designed to test different Pandas skills and concepts.

6. **Review Your Work**: Before submitting, double-check your answers and make sure all questions are addressed. Ensure that the notebook runs without errors and that all outputs are correct.

7. **Download Your Notebook**: Once you have completed all the questions and verified your solutions, download the notebook file (.ipynb). You can do this by selecting `File` > `Download` > `Download .ipynb` from the Google Colab menu.

8. **Submit Your Assignment**: Upload the downloaded .ipynb file to the designated learning platform for submission.

9. **Verify Submission**: Ensure that you have uploaded the correct file and that it is not corrupted. If you encounter any issues with the file, you may need to resubmit.

---

Good luck with your Assignment!

In [1]:
# Run this code cell
import numpy as np
import pandas as pd

co2_emission = "https://s3.ap-south-1.amazonaws.com/new-assets.ccbp.in/frontend/content/aiml/classical-ml/CO2_Emissions_Canada2.csv"

# Upload the data to colab before executing this code cell
data = pd.read_csv(co2_emission)
data.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196.0
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221.0
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136.0
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255.0
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244.0

---
**Q. 1 Determine the total number of vehicles for each `fuel type` available in the dataset.**

In [2]:
# Count occurrences of each fuel type
fuel_type_count = data['Fuel Type'].value_counts()
fuel_type_count.name = 'count'
fuel_type_count.index.name = 'Fuel Type'  # Set the name of the index
print(fuel_type_count)

Fuel Type
X    3637
Z    3202
E     370
D     175
N       1
Name: count, dtype: int64

---
**Q. 2 What is the proportion of vehicles with CO2 emissions greater than 250 g/km in the dataset, rounded to two decimal places?** In the given format - ( Proportion of high CO2 emission vehicles: ___ )

In [3]:
# write your code here
# write your code here
total_vehicles = len(data)
high_emission_vehicles = len(data[data['CO2 Emissions(g/km)'] > 250])
proportion = high_emission_vehicles / total_vehicles

print("Proportion of high CO2 emission vehicles:", round(proportion,2))

Proportion of high CO2 emission vehicles: 0.47

---
**Q. 3 Identify which car manufacturers have above-average fuel consumption compared to all manufacturers.**

In [4]:
# write your code here
# Calculate the mean of "Fuel Consumption Comb (L/100 km)" across all rows in the DataFrame
avg_consumption = data["Fuel Consumption Comb (L/100 km)"].mean()

# Filter the DataFrame to only those rows where fuel consumption is greater than the average
# and then extract the unique vehicle makes that meet this criterion
above_avg_fuel_comsumption = data[data['Fuel Consumption Comb (L/100 km)'] > avg_consumption]['Make'].unique()

print(above_avg_fuel_comsumption)

['ACURA' 'ASTON MARTIN' 'AUDI' 'BENTLEY' 'BMW' 'BUICK' 'CADILLAC'
 'CHEVROLET' 'CHRYSLER' 'DODGE' 'FORD' 'GMC' 'HONDA' 'HYUNDAI' 'INFINITI'
 'JAGUAR' 'JEEP' 'KIA' 'LAMBORGHINI' 'LAND ROVER' 'LEXUS' 'LINCOLN'
 'MASERATI' 'MAZDA' 'MERCEDES-BENZ' 'MITSUBISHI' 'NISSAN' 'PORSCHE' 'RAM'
 'ROLLS-ROYCE' 'SRT' 'SUBARU' 'TOYOTA' 'VOLKSWAGEN' 'VOLVO' 'ALFA ROMEO'
 'GENESIS' 'BUGATTI']

---
**Q. 4 What is the most common combination of vehicle class and transmission type along with its average fuel consumption?** In the given format ( The most common combination is ______ with an average fuel consumption of __ )

In [5]:
# Get the most common vehicle class and transmission type combination
most_common_combination = data.groupby(['Vehicle Class', 'Transmission'])['Fuel Consumption Comb (L/100 km)'].mean().idxmax()
fuel_consumption_value = data.groupby(['Vehicle Class', 'Transmission'])['Fuel Consumption Comb (L/100 km)'].mean().max()

print("The most common combination is", most_common_combination, "with an average fuel consumption of", fuel_consumption_value)

The most common combination is ('VAN - PASSENGER', 'A5') with an average fuel consumption of 21.2

---
**Q. 5 Determine which combination of engine size and fuel type results in the highest average CO2 emissions.**

In [6]:
# Group the data by 'Engine size' and 'Fuel Type', then calculate the mean of 'CO2 Emissions(g/km)' for each group.
# Sort the resulting mean values in descending order to show which combinations of engine size and fuel types have the highest average CO2 emissions.

highest_avg_co2 = data.groupby(['Engine Size(L)', 'Fuel Type'])['CO2 Emissions(g/km)'].mean().sort_values(ascending=False).head(1)
print(highest_avg_co2)

Engine Size(L)  Fuel Type
8.0             Z            522.0
Name: CO2 Emissions(g/km), dtype: float64

---
**Q. 6 What is the range of fuel consumption (L/100 km) for vehicles in the "MID-SIZE" class?**

In [7]:
# write your code here
# Extract only the CO2 emissions from rows where the 'Vehicle Class' is 'MID-SIZE'
mid_size_filtered_data = data[data['Vehicle Class'] == 'MID-SIZE']['Fuel Consumption Comb (L/100 km)']

# Calculate the range of CO2 emissions by subtracting the minimum value from the maximum value
co2_range = mid_size_filtered_data.max() - mid_size_filtered_data.min()
print(co2_range)

15.6

---
**Q. 7 Find the value between (maximum - minimum) of CO2 emissions vehicle class compact in the dataset.**

In [8]:
# write your code here
# Extract only the CO2 emissions from rows where the 'Vehicle Class' is 'MID-SIZE'
mid_size = data[data['Vehicle Class']=='MID-SIZE']['CO2 Emissions(g/km)']

# Calculate the range of CO2 emissions by subtracting the minimum value from the maximum value
co2_range = mid_size.max() - mid_size.min()
print(co2_range)

361.0

---
**Q. 8 Analyze whether there is a correlation between fuel consumption (combined) and CO2 emissions.**

In [9]:
# write your code here and find the correlation coefficient between the two columns.
correlation = data['Fuel Consumption Comb (L/100 km)'].corr(data['CO2 Emissions(g/km)'])
print(correlation)

0.9180169584984268

**Q. 9 Find the top 5 vehicles with the highest fuel consumption in the city (L/100 km).**

In [10]:
# Sort by 'Fuel Consumption City (L/100 km)' in descending order and select top 5
top_fuel_consumers = data.sort_values('Fuel Consumption City (L/100 km)', ascending=False).head(5)

print(top_fuel_consumers[['Make', 'Model', 'Fuel Consumption City (L/100 km)']])

           Make                       Model  Fuel Consumption City (L/100 km)
1534        GMC   SAVANA 3500 PASSENGER FFV                              30.6
1329  CHEVROLET  EXPRESS 3500 PASSENGER FFV                              30.6
1530        GMC   SAVANA 2500 PASSENGER FFV                              30.3
1325  CHEVROLET  EXPRESS 2500 PASSENGER FFV                              30.3
228   CHEVROLET      EXPRESS 3500 PASSENGER                              30.2

**Q. 10 Filter all vehicles that have 4 cylinders and CO2 emissions less than 200 g/km.**

In [11]:
# Filter vehicles with 4 cylinders and CO2 emissions less than 200
filtered_vehicles = data[(data['Cylinders'] == 4) & (data['CO2 Emissions(g/km)'] < 200)]
print(filtered_vehicles[['Make', 'Model', 'Cylinders', 'CO2 Emissions(g/km)']])

            Make        Model  Cylinders  CO2 Emissions(g/km)
0          ACURA          ILX          4                196.0
2          ACURA   ILX HYBRID          4                136.0
12    ALFA ROMEO           4C          4                193.0
76           BMW         320i          4                193.0
79           BMW  328d xDRIVE          4                181.0
...          ...          ...        ...                  ...
7363  VOLKSWAGEN         Golf          4                177.0
7366  VOLKSWAGEN        Jetta          4                162.0
7367  VOLKSWAGEN        Jetta          4                163.0
7368  VOLKSWAGEN    Jetta GLI          4                196.0
7369  VOLKSWAGEN    Jetta GLI          4                198.0

[1365 rows x 4 columns]

**Q. 11 Find the most common fuel type and its frequency. In the given format (The most common fuel type is __ with a frequency of _____)**

In [12]:
# Find the most common fuel type and its count
most_common_fuel_type = data['Fuel Type'].value_counts().idxmax()
fuel_type_count = data['Fuel Type'].value_counts().max()

print("The most common fuel type is",most_common_fuel_type,  "with a frequency of", fuel_type_count)

The most common fuel type is X with a frequency of 3637

**Q. 12 Replace missing values in the dataset with the column mean for numeric columns.**

In [13]:
# Fill NaN values with the mean for numeric columns
data_filled = data.copy()
for col in data.select_dtypes(include=['float64', 'int64']).columns:
    data_filled[col] = data_filled[col].fillna(data_filled[col].mean())

print(data_filled.isna().sum())  # Verify no NaN remains

Make                                0
Model                               0
Vehicle Class                       0
Engine Size(L)                      0
Cylinders                           0
Transmission                        0
Fuel Type                           0
Fuel Consumption City (L/100 km)    0
Fuel Consumption Hwy (L/100 km)     0
Fuel Consumption Comb (L/100 km)    0
Fuel Consumption Comb (mpg)         0
CO2 Emissions(g/km)                 0
dtype: int64

**Q. 13 Find the make and model of the vehicle with the highest CO2 emissions.**

In [14]:
# Find and format the vehicle with the highest CO2 emissions
max_emission_vehicle = data.loc[data['CO2 Emissions(g/km)'].idxmax(), ['CO2 Emissions(g/km)']]
max_emission_vehicle['CO2 Emissions(g/km)'] = "{:.1f}".format(max_emission_vehicle['CO2 Emissions(g/km)'])
print(max_emission_vehicle)

CO2 Emissions(g/km)    522.0
Name: 4509, dtype: object

**Q. 14 Filter vehicles with engine size greater than the average engine size and sort them by CO2 emissions (descending).**

In [15]:
# Filter vehicles with engine size greater than the average and sort by CO2 emissions
avg_engine_size = data['Engine Size(L)'].mean()
filtered_sorted_vehicles = data[data['Engine Size(L)'] > avg_engine_size].sort_values('CO2 Emissions(g/km)', ascending=False)

print(filtered_sorted_vehicles[['Make', 'Model', 'Engine Size(L)', 'CO2 Emissions(g/km)']])

              Make               Model  Engine Size(L)  CO2 Emissions(g/km)
5575       BUGATTI              Chiron             8.0                522.0
4509       BUGATTI              CHIRON             8.0                522.0
6640       BUGATTI              Chiron             8.0                522.0
6046   LAMBORGHINI  Aventador Roadster             6.5                493.0
7059   LAMBORGHINI  Aventador Roadster             6.5                493.0
...            ...                 ...             ...                  ...
1763         LEXUS             GS 450h             3.5                172.0
1633      INFINITI          Q70 HYBRID             3.5                172.0
1622      INFINITI          Q50 HYBRID             3.5                172.0
528       INFINITI          Q50 HYBRID             3.5                172.0
13    ASTON MARTIN                 DB9             5.9                  NaN

[3154 rows x 4 columns]

 **Q. 15 Which vehicle has the highest fuel efficiency (km/L) based on the given dataset?**

In [16]:
# Find the row with the lowest fuel consumption, which gives the highest fuel efficiency
max_fuel_consumption_row = data.loc[data['Fuel Consumption Comb (L/100 km)'].idxmin()]  # Use idxmin() to get the index of the row with the minimum fuel consumption

# Calculate fuel efficiency as km/L and format it to 6 decimal places
fuel_efficiency = 100 / max_fuel_consumption_row['Fuel Consumption Comb (L/100 km)']
formatted_efficiency = "{:.6f}".format(fuel_efficiency)

# Get the desired columns 'Make' and 'Model' columns from the row and add formatted fuel efficiency value as a new column
output = max_fuel_consumption_row[['Make', 'Model']].copy()  #
output['Fuel Efficiency (km/L)'] = formatted_efficiency  #

# Display the result with vehicle make, model, and fuel efficiency
print(output)

Make                         HYUNDAI
Model                     IONIQ BLUE
Fuel Efficiency (km/L)     24.390244
Name: 3824, dtype: object

# End!